* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, #59bde0, #ca3ef2);
  margin: 0;
  padding: 2.5rem;
}
.form {
  background-color: white;
  border-radius: 0.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.center {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  display: grid;
  justify-items: center;
  font-family: sans-serif;
  font-weight: bold;
  color: #313234;
  font-size: 1.8rem;
  flood-opacity: 90%;
}

.shape-form > * {
  display: grid;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-bottom: 0.6rem;
}

button {
  background-image: linear-gradient(to right, #59bde0, #ca3ef2);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 1.5rem;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 1px solid #dddddd;
  padding: 0.5rem 0 1rem 0;
}

select {
  border: none;
  border-bottom: 1px solid #dddddd;
  padding: 0.5rem 0 1rem 0;
}

textarea {
  border: none;
  border-bottom: 1px solid #dddddd;
  padding: 0.5rem 0 1rem 0;
}

input:valid {
  background-color: #c8e3f8;
}
